body {
    margin-left: 25px;
}

p {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 140px;
    overflow: hidden;
}
.row {
    width: 100%;
}
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 32%;
    } 
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 49%;
    }
    .col-md-12 {
        width: 99%;
    }
}
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

.sections {
    background-color: gray;
    border: 3px solid black;
    position: relative;
    padding-top: 30px;
    margin: 0.31%;

}
#title1 {
    background-color: pink;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    padding: 2px 20px;
    font-weight: bold;
    margin: 0;
}
#title2 {
    background-color: crimson;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    font-weight: bold;
    padding: 2px 20px;
    margin: 0;
}
#title3 {
    background-color: peachpuff;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    padding: 2px 20px;
    margin: 0;
}
h2 {
    width: max-content;
    margin: 100px auto 50px auto;
}